---
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/Contact.jsx";
import Footer from "@components/Footer.astro";
import { slide } from "astro:transitions";
---

<Layout title="Welcome to Astro.">
  <main transition:animate={slide({ duration: "1s" })}></main>
</Layout>
