---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { slide } from "astro:transitions";
import Politicas from "@components/Politicas.astro";
---

<Layout title="Akerlundh">
  <main class="h-full w-full" transition:animate={slide({ duration: "1s" })}>
    <Politicas />
    <hr class="w-full border-black" />
    <Footer />
  </main>
</Layout>
