---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { slide } from "astro:transitions";
import ProjectSection from "@components/project/Projects";

let projects = [
  {
    title: "Project 1",
    href: "/projects/project1",
    image: "/project1.webp"
  },
  {
    title: "Project 2",
    href: "/projects/project2",
    image: "/project2.webp"
  },
  {
    title: "Project 3",
    href: "/projects/project3",
    image: "/project3.webp"
  },
  {
    title: "Project 4",
    href: "/projects/project4",
    image: "/project4.webp"
  },
  {
    title: "Project 5",
    href: "/projects/project5",
    image: "/project5.webp"
  },
  {
    title: "Project 6",
    href: "/projects/project6",
    image: "/project6.webp"
  },
  {
    title: "Project 7",
    href: "/projects/project7",
    image: "/project7.webp"
  },
  {
    title: "Project 8",
    href: "/projects/project8",
    image: "/project8.webp"
  },
  {
    title: "Project 9",
    href: "/projects/project9",
    image: "/project9.webp"
  },
  {
    title: "Project 10",
    href: "/projects/project10",
    image: "/project10.webp"
  },
];

const projectsPerPage = 6;
---

<Layout title="Akerlundh">
  <main transition:animate={slide({ duration: "1s" })}>
    <ProjectSection
      client:visible
      projects={projects}
      projectsPerPage={projectsPerPage}
    />
    <hr class="w-full border-black" />
    <Footer />
  </main>
</Layout>
