---
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import { slide } from "astro:transitions";
import Service from "@components/service/Service.astro";
---

<Layout title="Welcome to Astro.">
  <main transition:animate={slide({ duration: "1s" })} class="p-8 mt-16">
    <Service />
    <hr class="w-full border-black" />
    <Footer />
  </main>
</Layout>
