<main
  class="flex justify-center px-4 items-center md:h-screen mx-auto md:w-[80%]"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 py-8">
    <!-- Primera columna: Imagen -->
    <a href="/about/" class="cursor-pointer">
      <img
        src="/about.jpg"
        class="md:w-full
        md:h-[700px]
        object-cover
        rounded-lg
        shadow-lg
        md:rounded-r-none"
        alt=""
      />
    </a>

    <!-- Segunda columna: Texto y Lista -->
    <div>
      <h2 class="text-5xl font-bold mb-8">We are Home Furniture - Akerlundh</h2>
      <p class="mb-8 text-3xl">
        Furniture store founded in 1940. Our mission as a company is to create
        high-quality furniture that will stand the test of time. Our vision is
        to be the leading furniture store, recognized for the quality of our
        craftsmanship and innovation in the interior design market
      </p>
      <p class="mb-8 text-xl">
        We strive to offer an exceptional shopping experience by providing
        furniture that combines style and functionality, enhancing the lives of
        our customers.
      </p>
    </div>
  </div>
</main>
