<main
  class="flex justify-center px-4 items-center md:h-screen mx-auto md:w-[80%]"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Primera columna: Imagen -->
    <div class="animate-pulse">
      <div class="bg-gray-300 md:w-[500px] md:h-[700px]"></div>
    </div>

    <!-- Segunda columna: Texto y Lista -->
    <div>
      <h2 class="text-5xl font-bold mb-8">We Are Interior Design</h2>
      <p class="mb-8 text-3xl">
        We believe that interior design is more than great functionality and
        beautiful aesthetics. We aim to make your home interiors a reflection of
        your personality. Your home should be something that you and your family
        take pride in and love to spend time in.
      </p>
      <ul class="list-disc pl-5 text-2xl space-y-4">
        <li>Home Designs Interior</li>
        <li>Modular Kitchen Designs</li>
        <li>Wardrobe Design Interior</li>
        <li>Space Saving Furniture</li>
      </ul>
    </div>
  </div>
</main>
