---
let date = new Date().getFullYear();
---

<main>
  <footer
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:w-[80%] mx-auto gap-8 px-8 py-16 md:py-4 h-80 items-center"
  >
    <div class="flex flex-col mb-4">
      <h1 class="text-5xl font-bold mb-4">About Us</h1>
      <p class="text-xl font-light mb-4">
        Our dedicated home interior designers work with you tirelessly to tie
        your style with their design expertise, creating the perfect interior
        design concept.
      </p>
      <strong class="text-amber-500 text-2xl"> support@Homekins.com </strong>
    </div>
    <div class="flex flex-col mb-4">
      <h1 class="text-5xl font-bold mb-4">Usefull link</h1>
      <ul class="text-xl space-y-4 cursor-pointer">
        <li>Frequently Asked</li>
        <li>Terms & Conditions</li>
        <li>Help Center</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="flex flex-col mb-4">
      <h1 class="text-5xl font-bold mb-4">Features</h1>
      <ul class="text-xl space-y-4 cursor-pointer">
        <li>Career</li>
        <li>Brand Identity</li>
        <li>Investment</li>
        <li>Agency Patner</li>
      </ul>
    </div>
    <div class="flex flex-col mb-4">
      <h1 class="text-5xl font-bold mb-4">Follow Us</h1>
      <p class="text-xl font-light mb-4">
        Explore thousands of inspiring interior designs, from our best team
        here.
      </p>
      <div class="flex gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-black hover:stroke-amber-600 cursor-pointer"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="curentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
          ></path>
          <path
            d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
          ></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-black hover:stroke-amber-600 cursor-pointer"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="curentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M16.5 7.5l0 .01"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-black hover:stroke-amber-600 cursor-pointer"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="curentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-black hover:stroke-amber-600 cursor-pointer"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="curentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
        </svg>
      </div>
    </div>
    <hr />
  </footer>
  <hr class="border border-black w-full" />
  <div class="hidden md:block w-[80%] mx-auto px-8">
    <p class="text-start text-xl font-light py-4">
      © Copyrights {date}
      {" "}
      <a href="/" class="hover:text-amber-600 hover:underline"> Akerlundh. </a>
      {" "}
      All rights reserved.
    </p>
  </div>
</main>
