---
const logos = [
  "logo_1.png",
  "logo_2.png",
  "logo_3.png",
  "logo_4.png",
  "logo_5.png",
  "logo_6.png",
  "logo_7.png",
  "logo_8.png",
  "logo_9.png",
  "logo_10.png",
];
---

<div
  id="partner-logos"
  class="relative overflow-hidden md:h-48 mb-16 bg-[#f7f7f7] flex justify-center items-center"
>
  <div class="logos-container flex justify-center items-center h-48">
    {
      logos.map((logo, index) => (
        <img src={logo} alt={`Partner ${index + 1}`} class="logo h-20 mx-4" />
      ))
    }
  </div>
</div>

<style>
  .logos-container {
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(50%);
    }
  }
</style>
