---
const projects = [
  {
    title: "Project 3",
    description: "This is a description for project 3",
    image: "/project3.jpg",
  },
  {
    title: "Project 1",
    description: "This is a description for project 1",
    image: "/project1.jpg",
  },
  {
    title: "Project 2",
    description: "This is a description for project 2",
    image: "/project2.jpg",
  },

  {
    title: "Project 4",
    description: "This is a description for project 4",
    image: "/project4.jpg",
  },
];
---

<div
  class="flex md:justify-center md:items-center px-8 md:px-0 md:w-[100%] mx-auto flex-col"
>
  <div
    class="md:w-[80%]
    flex
    md:ustify-start
    md:items-center
    mb-8 md:px-4"
  >
    <h1 class="text-5xl font-bold">Our Innovative Ideas</h1>
  </div>
  <div class="mb-8 grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 w-full">
    {
      projects.map((project) => (
        <div class=" w-full bg-gray-400 hover:bg-black hover:text-white ">
          <img
            src={project.image}
            alt={project.title}
            class="cursor-pointer hover:bg-gray-400"
          />{" "}
        </div>
      ))
    }
  </div>
</div>
